body {
  background-color: dark-gray;
}
h1 {
  color: light-green;
  font-family: 'Titan One', cursive;
  @import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
}
p {
  color: light-green;
  font-family: 'Nunito', sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
}
